{% extends "admin/admin_base.html" %}
{% block content %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">Receiver_name</th>
      <th scope="col">date</th>
      <th scope="col">blood</th>
      <th scope="col">hospital</th>
      <th scope="col">place</th>
      <th scope="col">contact</th>

    </tr>
  </thead>
  <tbody>
  {% for i in data %}

    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Receiver_name.name}}</td>
      <td>{{i.date}}</td>
      <td>{{i.blood}}</td>
      <td>{{i.hospital}}</td>
      <td>{{i.place}}</td>
      <td>{{i.contact}}</td>


    </tr>
  {% endfor %}


  </tbody>
</table>
{% endblock %}
